{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'styleBoost.html' %}
    {% include 'scriptBoost.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <h2 class="text-center">- Students Record - <a class="btn btn-secondary" href="{% url 'student_add' %}">Add Student</a></h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Espertise</th>
                <th>Salary</th>
                <th>Trainer Photo</th>
                <th>▲</th>
            </tr>
        </thead>
        <tbody>
            {% for e in students %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.first_name }}</td>
                    <td>{{ e.last_name }}</td>
                    <td>{{ e.email }}</td>
                    <td>{{ e.enrolled_course }}</td>
                    <td>{{ e.is_active }}</td>
                    <td>{{ e.trainer }}</td>
                    <td>
                        <div>
                            <a href="{% url 'student_detail' e.id %}"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'student_edit' e.id %}"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'student_delete' e.id %}"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>