{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'styleBoost.html' %}
    {% include 'scriptBoost.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <h2 class="text-center">- Courses Record - <a class="btn btn-secondary " href="{% url 'course_add' %}">Add Course</a></h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>description</th>
                <th>duration</th>
                {% if perms.academy.course_add %}
                <th>Actions</th>
                {% endif%}
            </tr>
        </thead>
        <tbody>
            {% for e in courses %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.course_name }}</td>
                    <td>{{ e.description }}</td>
                    <td><p>{{ e.duration }} weeks.</p></td>
                     {% if perms.academy.course_add %}
                    <td>
                        <div>
                            <a href="{% url 'course_detail' e.id %}"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'course_edit' e.id %}"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'course_delete' e.id %}"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>        
                    {% endif%}            
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>