{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <h2>- Trainer Record -</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Espertise</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for e in trainers %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.first_name }}</td>
                    <td>{{ e.last_name }}</td>
                    <td>{{ e.email }}</td>
                    <td>{{ e.expertise }}</td>
                    <td>{{ e.salary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>