{% block content %}
    <table>
        <thead>
            <tr>
                {% if user.is_authenticated %}
                <h2 class="text-center"> You're logged as {{ user }}</h2>
                {% endif %}
            </tr>
            <tr>
                <th><a class="btn" href="{% url 'home' %}">Home</a></th>
                <th><a class="btn" href="{% url 'course' %}">Courses</a></th>
                <th><a class="btn" href="{% url 'student' %}">Students</a></th>
                <th><a class="btn" href="{% url 'trainer' %}">Trainers</a></th>
                {% if not user.is_authenticated %}
                <th><a class="btn" href="{% url 'login' %}">Login</a></th>
                <th><a class="btn" href="{% url 'register' %}">Register</a></th>
                {% else %}
                <th><a class="btn" href="{% url 'register' %}">Logout</a></th>
                {% endif %}

            </tr>
        </thead>
    </table>
{% endblock %}

    