{% block content %}
    <table>
        <thead>
            <tr>
                <th><a class="btn" href="{% url 'home' %}">Home</a></th>
                <th><a class="btn" href="{% url 'course' %}">Courses</a></th>
                <th><a class="btn" href="{% url 'student' %}">Students</a></th>
                <th><a class="btn" href="{% url 'trainer' %}">Trainers</a></th>
                <th><a class="btn" href="">Login</a></th>
            </tr>
        </thead>
    </table>
{% endblock %}

    