{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <h2>- Course Record - </h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>IMG</th>
                <th>▲</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ courses.id }}</td>
                    <td>{{ courses.course_name }}</td>
                    <td>{{ courses.description }}</td>
                    <td>{{ courses.duration }}</td>
                    <td>{{ courses.course_image }}</td>
                    <td> <img src="{{ courses.course_image.url }}" alt="{{ courses.course_name }}" width="100"></td>
                    <td>
                        <div>
                            <a href="{% url 'course' %}"><i class="fa fa-eye"></i></a>
                        </div>
                    </td>
                </tr>
        </tbody>
    </table>
</body>
</html>