{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <h2>- Students Record -</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Espertise</th>
                <th>Salary</th>
                <th>Trainer Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ student_detail.id }}</td>
                    <td>{{ student_detail.first_name }}</td>
                    <td>{{ student_detail.last_name }}</td>
                    <td>{{ student_detail.email }}</td>
                    <td>{{ student_detail.enrolled_course }}</td>
                    <td>{{ student_detail.is_active }}</td>
                    <td>{{ student_detail.trainer }}</td>
                    <td>
                        <div>
                            <a href="{% url 'home' %}"><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-edit"></i></a>
                            <a href=""><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
        </tbody>
    </table>
</body>
</html>