{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'styleBoost.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <h2 class="text-center">- Register User - </h2>
    <form action="{% url 'register' %}" method="POST" style="text-align: center; width: 400px; margin: auto;">
        {% csrf_token %}
        {{ userform | crispy }}
        <button type="submit">Register</button>
    </form>
    {% include 'scriptBoost.html' %}
</body>
</html>